@charset "utf-8";
/* ============== mobile start ============== */
html{
  scroll-behavior: smooth;
}
body{
  font-size: 1.6rem;
}
#wrap{
  overflow: hidden;
}

/* header start */

header{
  width: 100%; height: 70px;
  position: fixed;
  top: -80px; left: 0;
  transition: all 0.5s ease 0s;
  background: #fff;
  border-bottom: 1px solid #fff;
  z-index: 100;
}
header.top{
  background: none;
}
header.on {
  top: 0px;
}
.header_inner{
  width: 83.33%; height: 100%;
  margin: 0 auto;
}
header h1{ 
  width: 83px; height: 50px;
  float: left;
  margin-top: 10px;
}
header h1 a{
  display: block;
  width: 100%; height: 100%;
  text-indent: -9999px;
  transition: 1s;
  background: url(../img/mys_logo_black.png) no-repeat center/contain;
}
header.top h1 a{
  background-image: url(../img/mys_logo_white.png);
}
.m_btn{
  outline: none;
  position: absolute;
  top: 50%;right: 8%;
  transform: translateY(-50%);
  width: 40px;height: 30px;
  cursor: pointer;
  background: none;
  border: none;
  z-index: 110;
}
.m_btn>span{
  position: absolute;
  display: inline-block;
  left:0;
  width: 40px; height: 3px;
  background: #000;
  text-indent: -9999px;
  transition: all 0.3s ease 0s;
}
header.top .m_btn>span{background-color: #fff;}
.m_btn>span:nth-child(1){
  top:3px
}
.m_btn>span:nth-child(2){
  top:15px
}
.m_btn>span:nth-child(3){
  top:27px
}
.m_btn.on span:nth-child(2){
  background: transparent;
}
.m_btn.on span:nth-child(1),.m_btn.on span:nth-child(3){
  top:14px
}
.m_btn.on span:nth-child(1){
  transform: rotate(45deg);
  background: #000;
}
.m_btn.on span:nth-child(3){
  transform: rotate(-45deg);
  background: #000;
}
header.top .m_btn.on span:nth-child(1),
header.top .m_btn.on span:nth-child(3){background-color: #fff;}
.Mobile .nav_inner,
.Tablet .nav_inner{
  max-height: 0; width: 100%;
  background: #fff;
  overflow: hidden;
  transition: all 0.6s ease-out;
}
.Mobile .nav_inner.on{
  max-height: 370px; width: 100%;
  background: #fff;
  overflow: hidden;
  transition: all 0.6s ease-out;
}
.Mobile .gnb_wrap{
  height: 100%;
  padding: 20px 0;
}
.Mobile .gnb{
  height: 100%;
}
.Mobile .gnb li{
  height: 100%;
  padding: 30px 0 30px 0;
}
.Mobile .gnb li a{
  display: block;
  width: 130px; height: 100%;
  font-size: 2.0rem; font-weight: 700;
  margin: 0 0 0 auto;
}
/* header end */

/* visual start */

.visual{
  position: relative;
  height: 750px;
}
.video_box{
  height: 750px;
  overflow: hidden;
  position: relative;
}
.video_bg{
  width: 100%; height: 100%;
  position: absolute;
  top: 0; left: 0;
}
.video_bg iframe{
/*     width: 177.78vh; */
  width: calc(100% + 177.78vh);
  height: 1200px; 
  position: absolute;
  top: -25%;
  left: 50%; transform: translateX(-50%);
  border: none;
  filter: blur(5px);
}
.video_bg::after{
  content:'';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: #000;
  opacity: 0.4;
  z-index: 1;
}
.visual_text_box{
  width: auto;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  font-size: 2.05rem; font-weight: bold;
  text-align: center; color: #fff;
  word-break: keep-all;
  padding: 30px 0;
  z-index: 10;
}
.typed_wrap{
  width: 100%;
}
.typing-demo{ 
  font-size: 6rem;
  text-wrap: wrap;
}
.typing-demo::after {
	content: '|';
	display: inline;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
.typed-cursor{
  opacity: 0;
 display: none;
}

/* visual end */

/* main start */

section{margin-top: 200px;}
section h2{
  font-size: 4.0rem; font-weight: 500; 
  text-align: center; margin-bottom: 50px;
  color: #fff;
}
@keyframes aniTop {
  from {transform:translateY(100px); opacity:0;}
  to {transform:translateY(0px); opacity:1;}
}
@keyframes aniBottom {
  from {transform:translateY(-100px); opacity:0;}
  to {transform:translateY(0px); opacity:1;}
}
@keyframes aniFade {
  from { opacity:0;}
  to { opacity:1;}
}
@keyframes aniRotate {
  from {transform:rotateY(-90deg); opacity:0;}
  to {transform:rotateY(0deg); opacity:1;}
}
@keyframes aniRotate2 {
  from {transform:rotateY(-90deg); opacity:0;}
  to {transform:rotateY(0deg); opacity:1;}
}

/* about_me_section start */

.about_inner{
  opacity: 0;
}
.about_inner.on{
  animation: aniRotate 1s;
  opacity: 1;
}
.about_pic{
  position: relative;
  width: 300px; height: 500px;
  margin: 0 auto -100px;
  background: url(../img/about_me_picture.jpg) no-repeat center / cover;
}
.about_textbox{
  width: 100%; height: 100%;
  max-width: 550px;
  margin: 0 auto;
  background: #F4F4F4;
  padding: 150px 0 50px;
}
.about_textbox ul{
  width: 300px;
  margin: 0 auto;
}
.about_textbox ul li{
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 80px;
  margin-bottom: 30px;
}
.about_textbox ul li:last-child{margin-bottom: 0px;}
.about_textbox ul li::before{
  content: "";
  display: block;
  position: absolute;
  width: 50px; height: 50px;
  background: url(../img/me_icon.gif) no-repeat center / cover;
  border-radius: 50%;
  left: 0;
}
.about_textbox ul li:nth-of-type(2)::before{ background-image: url(../img/birthday_icon.gif); }
.about_textbox ul li:nth-of-type(3)::before{ background-image: url(../img/mortarboard_icon.gif); }
.about_textbox ul li:nth-of-type(4)::before{ background-image: url(../img/phone_icon.gif); }
.about_textbox ul li:nth-of-type(5)::before{ background-image: url(../img/mailing_icon.gif); }

/* about_me_section end */

/* portfolio start */

.portfolio_inner{
  position: relative;
  opacity: 0;
}
.portfolio_inner.on{
  animation: aniTop 1s;
  opacity: 1;
}
#portfolio_anchor{opacity: 0;}
#portfolio_anchor.on{
  animation: aniFade 1s;
  opacity: 1;
}
.portfolio_bg_1{
  position: absolute; left: 50%;
  transform: translateX(-50%);
  width: 100%; height: 350px;
  max-width: 660px;
  background-color: #FFF;
}
.portfolio_bg_2{
  position: absolute;
  top: 350px; left: 50%;
  transform: translateX(-50%);
  width: 100%; height: 300px;
  max-width: 600px;
  background-color: #D9F5FF;
}
.portfolio_slider .swiper-container-portfolio{
  position: relative;
  width: 83.33%;
  margin: 0 auto;
  overflow: hidden;
}
.portfolio_slider .swiper-container-portfolio .swiper-pagination{
  top: 310px; left: 50%;
  transform: translateX(-50%);
  width: 83.33%; height: 5px;
  max-width: 430px;
}
.swiper-slide > div:nth-of-type(1){
  position: relative;
  width: 300px; height: 350px;
  margin: 0 auto;
}
.swiper-container-portfolio .swiper-wrapper .swiper-slide > div:nth-of-type(1) > div:nth-of-type(1){
  position: absolute;
  width: 300px; height: 250px;
  bottom: 70px; left: 50%;
  transform: translateX(-50%);
}
.swiper-slide-imgbox01 > div:nth-child(1){
  background: url(../img/hyundai_pc.png) no-repeat center / contain;
}
.swiper-slide-imgbox02 > div:nth-child(1){
  background: url(../img/galleria_pc.png) no-repeat center / contain;
}
.swiper-slide-imgbox03 > div:nth-child(1){
  background: url(../img/Zflip_pc.png) no-repeat center / contain;
}
.swiper-slide-imgbox04 > div:nth-child(1){
  background: url(../img/chanel_pc.png) no-repeat center / contain;
}
.swiper-slide-imgbox05 > div:nth-child(1){
  background: url(../img/blackpink_pc.png) no-repeat center / contain;
}
.swiper-slide-imgbox06 > div:nth-child(1){
  background: url(../img/starbucks_pc.png) no-repeat center / contain;
}
.swiper-slide-imgbox07 > div:nth-child(1){
  background: url(../img/miero_pc.png) no-repeat center / contain;
}
.swiper-container-portfolio .swiper-wrapper .swiper-slide div:nth-child(1) div:nth-child(2){
  position: absolute;
  width: 55px; height: 110px;
  bottom: 70px; left: 0;
}
.swiper-slide-imgbox01 > div:nth-child(2){
  background: url(../img/hyundaipharm_mobile.png) no-repeat center / contain;
}
.swiper-slide-imgbox02 > div:nth-child(2){
  background: url(../img/galleria_mobile.png) no-repeat center / contain;
}
.swiper-container-portfolio .swiper-wrapper .swiper-slide div:nth-child(1) div:nth-child(3){
  position: absolute;
  width: 95px; height: 125px;
  bottom: 70px; right: 0;
}
.swiper-slide-imgbox01 > div:nth-child(3){
  background: url(../img/hyundaipharm_tablet.png) no-repeat center / contain;
}
.swiper-slide-imgbox02 > div:nth-child(3){
  background: url(../img/galleria_tablet.png) no-repeat center / contain;
}
.swiper-slide-textbox h3{
  margin-bottom: 20px;
  font-size: 2.4rem; text-align: center;
}
.swiper-slide-textbox p{
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  word-break: keep-all;
}
.swiper-slide-textbox a{
  position: absolute;
  width: 120px; height: 40px;
  bottom: 40px; right: 50%;
  transform: translateX(50%);
  text-align: center; line-height: 40px;
  display: block;
  font-weight: bold;
  background: #D9D9D9;
  transition: 0.5s;
}
.swiper-slide-textbox a:hover{
  color: #fff;
  background: #000;
  scale: 1.1;
}
.swiper-slide-textbox{
  position: relative;
  height: 300px;
  padding: 20px 0 40px;
}
.swiper_btnbox{
  position: relative;
  width: 100%; max-width: 400px;
  margin: 0 auto;
  bottom: 40px;
}
.portfolio_slider .swiper-container-portfolio .swiper-button-next{
  position: absolute;
  width: 20px; height: 40px;
  top: 0;
  color: #8eaff7;
  z-index: 10;
  transition: 1s;
  transform-origin: center;
  animation: slideRight 2s infinite;
}
.portfolio_slider .swiper-container-portfolio .swiper-button-prev{
  position: absolute;
  width: 20px; height: 40px;
  top: 0;
  color: #8eaff7;
  z-index: 10;
  transition: 1s;
  transform-origin: center;
  animation: slideLeft 2s infinite;
}
/* 기본 슬라이드 애니메이션 */
@keyframes slideLeft {
  0%, 100% { transform: translateY(-50%) translateX(0); }
  50% { transform: translateY(-50%) translateX(-10px); }
}

@keyframes slideRight {
  0%, 100% { transform: translateY(-50%) translateX(0); }
  50% { transform: translateY(-50%) translateX(10px); }
}

/* Hover 시 중첩 애니메이션 */
.portfolio_slider .swiper-container-portfolio .swiper-button-prev:hover {
  scale: 1.2;
  animation-play-state: paused;
}

.portfolio_slider .swiper-container-portfolio .swiper-button-next:hover {
  scale: 1.2;
  animation-play-state: paused;
}


/* portfolio end */

/* skills start */

.skills_inner{opacity: 0;}
.skills_inner.on{opacity: 1;}
.skills_inner.on h2{animation: aniFade 1s ease 1s;}
.skills_inner.on .skills_lottie{animation: aniRotate 1s;}
.skills_inner.on .skills_skillbox{animation: aniRotate2 1s;}
.skills_lottie{
  width: 100%; height: 350px;
  max-width: 660px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}
.skills_anibox{
  position: relative;
  width: 300px; height: 250px;
  margin: 0 auto;
  overflow: hidden;
}
.lottie-container{
  position: absolute;
  top: 50%; ;left: 50%;
  transform: translate(-50%, -50%);
  width: 350px; 
}
.skills_skillbox{
  width: 100%;
  padding: 20px 0;
  background: #D9F5FF;
  perspective: 1000px;
}
.skillbox_inner{
  width: 320px; height: 320px;
  margin: 0 auto;
}
.skill_flip{
  position: relative;
  width: 100px; height: 100px;
  border-radius: 50%;
  transform-style: preserve-3d;
  float: left;
  cursor: pointer;
  perspective: 1000px;
}
.skill_flip:nth-of-type(1){ top: 55px; left: 0;}
.skill_flip:nth-of-type(2){ top: 0; left: 10px;}
.skill_flip:nth-of-type(3){ top: 55px; left: 20px;}
.skill_flip:nth-of-type(4){ top: 65px; left: 0;}
.skill_flip:nth-of-type(5){ top: 10px; left: 10px;}
.skill_flip:nth-of-type(6){ top: 65px; left: 20px;}
.skill_flip:nth-of-type(7){ top: 20px; left: 110px;}
@keyframes SkillFrontFront{
  0% { scale: 1; transform: rotateY(180deg);}
  50% { scale: 1.3; }
  100% { scale: 1; transform: rotateY(0deg);}
}
@keyframes SkillBackFront{
  0% { scale: 1; transform: rotateY(0deg);}
  50% { scale: 1.3; }
  100% { scale: 1; transform: rotateY(-180deg);}
}
@keyframes SkillFrontBack{
  0% { scale: 1; transform: rotateY(0deg);}
  50% { scale: 1.3; }
  100% { scale: 1; transform: rotateY(180deg);}
}
@keyframes SkillBackBack{
  0% { scale: 1; transform: rotateY(-180deg);}
  50% { scale: 1.3; }
  100% { scale: 1; transform: rotateY(0deg);}
}
.skill_flip.front .flip_front{
  transform: rotateY(0deg); 
  -moz-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  animation: 1s SkillFrontFront;
  -webkit-animation: 1s SkillFrontFront;
  -moz-animation: 1s SkillFrontFront;
}
.skill_flip.back .flip_front{
  transform: rotateY(-180deg); 
  -moz-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  animation: 1s SkillBackFront;
  -webkit-animation: 1s SkillBackFront;
  -moz-animation: 1s SkillBackFront;
}
.skill_flip.front .flip_back{
  transform: rotateY(180deg);  
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  animation: 1s SkillFrontBack;
  -webkit-animation: 1s SkillFrontBack;
  -moz-animation: 1s SkillFrontBack;
}
.skill_flip.back .flip_back{
  transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
   animation: 1s SkillBackBack;
   -webkit-animation: 1s SkillBackBack;
   -moz-animation: 1s SkillBackBack;
}
.flip_front{
  position: absolute;
  width: 100px; height: 100px;
  background: #fff;
  backface-visibility: hidden;
  border-radius: 50%;
  border: 2px solid #939393;
  padding-top: 13px;
  text-align: center;
  transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
}
.flip_front p{
  font-size: 1.6rem; font-weight: bold;
  margin-bottom: 8px;
}
.flip_front span{
  display: inline-block;
  width: 40px; height: 40px;
  background: url(../img/book_icon.png) no-repeat center / cover;
}
.flip_back{
  position: absolute;
  width: 100px; height: 100px;
  border-radius: 50%;
  background: #fff;
  backface-visibility: hidden;
  border: 2px solid #939393;
  padding-top: 13px;
  text-align: center;
  transform: rotateY(180deg);
  -moz-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
}
.flip_back p{
  font-size: 1.6rem; font-weight: bold;
  margin-bottom: 8px;
}
.flip_back span{
  display: inline-block;
  width: 40px; height: 40px;
  background: url(../img/html_icon.png) no-repeat center / cover;
}
.skill_flip:nth-of-type(2) .flip_back span{background-image: url(../img/css_icon.png);}
.skill_flip:nth-of-type(3) .flip_back span{background-image: url(../img/javascript_icon.png);}
.skill_flip:nth-of-type(4) .flip_back span{background-image: url(../img/jquery_icon.png);}
.skill_flip:nth-of-type(5) .flip_back span{background-image: url(../img/figma_icon.png);}
.skill_flip:nth-of-type(6) .flip_back span{background-image: url(../img/xd_icon.png);}
.skill_flip:nth-of-type(7) .flip_back span{background-image: url(../img/ps_icon.png);}
/* skills end */

/* my_story start */

.story_inner{opacity: 0;}
.story_inner.on{opacity: 1;}
.story_inner.on h2{animation: aniFade 1s;}
.story_inner.on .story_pic{animation: aniTop 1s;}
.story_inner.on .story_textbox{animation: aniBottom 1s;}
.story_pic{
  position: relative;
  width: 300px; height: 500px;
  margin: 0 auto -100px;
  background: url(../img/my_story_picture.png) no-repeat center / cover;
}
.story_textbox{
  width: 100%; max-width: 660px;
  margin: 0 auto; padding: 150px 0 50px;
  background: #F4F4F4;
}
.story_textbox p{
  width: 83.33%;
  margin: 0 auto;
  text-align: center;
  word-break: keep-all;
  font-weight: bold;
}

/* my_story end */

/* main end */

/* footer start */

footer{
  margin-top: 200px;
  background: #898989;
}
.footer_inner{
  padding: 50px 0 30px;
}
footer h3{
  font-size: 1.8rem; font-weight: 500;
  color: #fff;
  text-align: center;
}
.icon_copyright{margin-bottom: 50px;}
.icon_copyright ul{
  width: 260px;
  margin: 30px auto 0;
}
.icon_copyright ul li a{
  position: absolute;
  width: 30px; height: 30px;
  display: block;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  text-indent: -9999px;
  background: no-repeat center / cover;
}
.icon_copyright ul li{
  position: relative;
  width: 50px; height: 50px;
  border-radius: 50%;
  background: #fff;
  float: left;
  margin-right: 20px;
}
.icon_copyright ul li:nth-of-type(5){ clear: left; }
.icon_copyright ul li:nth-of-type(4),
.icon_copyright ul li:nth-of-type(8){margin-right: 0;}
.icon_copyright ul li:nth-of-type(1),
.icon_copyright ul li:nth-of-type(2),
.icon_copyright ul li:nth-of-type(3),
.icon_copyright ul li:nth-of-type(4){margin-bottom: 20px;}
.icon_copyright ul li:nth-of-type(1) a{background-image: url(../img/book_icon.png);}
.icon_copyright ul li:nth-of-type(2) a{background-image: url(../img/mortarboard_icon.gif);}
.icon_copyright ul li:nth-of-type(3) a{background-image: url(../img/me_icon.gif);}
.icon_copyright ul li:nth-of-type(4) a{background-image: url(../img/phone_icon.gif);}
.icon_copyright ul li:nth-of-type(5) a{
  width: 50px; height: 50px;
  border-radius: 50%;
  background-image: url(../img/skills_animation_icon.gif);
}
.icon_copyright ul li:nth-of-type(6) a{background-image: url(../img/birthday_icon.gif);}
.icon_copyright ul li:nth-of-type(7) a{background-image: url(../img/mailing_icon.gif);}
.icon_copyright ul li:nth-of-type(8) a{
  width: 37px; height: 37px;
  border-radius: 50%;
  background-image: url(../img/web_coding_img.png);
}
.footer_inner div:nth-of-type(2){
  color: #d9d9d9; font-weight: 300;
  text-align: center;
}
.footer_inner div:nth-of-type(2) span{
  display: inline-block;
}

/* footer end */

/* ============== mobile end ============== */
/* ============== 768 start ============== */
@media all and (min-width:768px) {
  body{
      font-size: 1.8rem;
  }
  /* header nav start*/
  header{
    height: 100px;
    top: -110px;
  }
  header h1{
    width: 115.5px; height: 70px;
    margin-top: 15px;
  }
  .Tablet .nav_inner.on{
    max-height: 472px; width: 100%;
    background: #fff;
    overflow: hidden;
    transition: all 0.6s ease-out;
  }
  .Tablet .gnb_wrap{
    height: 100%;
    padding: 30px 0;
  }
  .Tablet .gnb{
    height: 100%;
  }
  .Tablet .gnb li{
    height: 100%;
    padding: 40px 0 40px 0;
  }
  .Tablet .gnb li a{
    display: block;
    width: 130px; height: 100%;
    font-size: 2rem; font-weight: 700;
    margin: 0 0 0 auto;
  }
  /* header nav end */
  
  /* visual start*/

  .visual{
      height: 900px;
  }
  .video_box{
      height: 900px;
  }
  .typing-demo{ 
    font-size: 9rem;
    text-wrap: nowrap;
  }

  /* visual end */
  
  /* main start */

  section{margin-top: 250px;}
  section h2{
    font-size: 6.0rem;
    margin-bottom: 80px;
    color: #fff;
  }

  /* about_me_section start */
  
  .about_pic{
    width: 400px; height: 600px;
    margin: 0 auto -200px;
  }
  .about_textbox{
    width: 71.61%;
    max-width: 728px; 
    padding: 250px 0 50px;
  }
  .about_textbox ul{
    width: 455px;
    margin: 0 auto;
  }
  .about_textbox ul li{
    margin-bottom: 40px;
  }
  /* about_me_section end */
  
  /* portfolio_section start */
  
  .portfolio_bg_1{
    width: 660px; height: 500px;
    max-width: 660px;
  }
  .portfolio_bg_2{
    top: 490px;
    width: 600px; height: 300px;
    max-width: 600px;
  }
  .portfolio_slider .swiper-container-portfolio{
    width: 660px;
  }
  .portfolio_slider .swiper-container-portfolio .swiper-pagination{
    top: 420px;
    width: 430px; height: 6px;
    max-width: 430px;
  }
  .swiper-slide > div:nth-of-type(1){
    position: relative;
    width: 550px; height: 500px;
    margin: 0 auto;
  }
  .swiper-container-portfolio .swiper-wrapper .swiper-slide div:nth-child(1) div:nth-child(1){
    position: absolute;
    width: 400px; height: 330px;
    bottom: 130px; left: 55px;
    transform: translateX(0);
    background-size: cover;
  }
  .swiper-container-portfolio .swiper-wrapper .swiper-slide div:nth-child(1) div:nth-child(2){
    position: absolute;
    width: 55px; height: 110px;
    bottom: 130px; left: 0;
  }
  .swiper-container-portfolio .swiper-wrapper .swiper-slide div:nth-child(1) div:nth-child(3){
    position: absolute;
    width: 95px; height: 125px;
    bottom: 130px; right: 0;
  }
  .swiper-slide-textbox{
    width: 600px; height: 300px;
    margin: -10px auto 0;
    padding: 40px 50px;
  }
  .swiper-slide-textbox h3{
    margin-bottom: 30px;
    font-size: 2.4rem; text-align: left;
  }
  .swiper-slide-textbox p{
    width: 260px; height: 130px;
    text-align: left; margin: 0;
    word-break: break-all;
  }
  .swiper-slide-textbox a{
    position: absolute;
    width: 160px; height: 50px;
    bottom: 80px; right: 50px;
    transform: translateX(0);
    text-align: center; line-height: 50px;
  }
  .swiper_btnbox{
    margin: 0;
    left: 420px; bottom: 170px;
    width: 160px; max-width: 160px;
  }
  .portfolio_slider .swiper-container-portfolio .swiper-button-next{
    width: 20px; height: 40px;
  }
  .portfolio_slider .swiper-container-portfolio .swiper-button-prev{
    width: 20px; height: 40px;
  }

  /* portfolio_section end */
  
  /* skills_section start */
  
  .skills_inner{ text-align: center;}
  .skills_lottie{
    width: 660px; height: 560px;
    max-width: 660px;
    padding-top: 80px;
  }
  .skills_anibox{
    position: relative;
    width: 490px; height: 400px;
    margin: 0 auto;
    overflow: hidden;
  }
  .lottie-container{
    width: 600px; 
  }
  .skills_skillbox{
    display: inline-block;
    width: auto;
    padding: 40px; margin-top: -50px;
  }
  .skillbox_inner{
    width: 320px; height: 320px;
    margin: 0 auto;
  }

  /* skills_section end */
  
  /* my_story_section start */
  
  .story_pic{
    width: 480px; height: 600px;
    margin: 0 auto -100px;
  }
  .story_textbox{
    width: 100%;
    padding: 180px 0 80px;
    background: #F4F4F4;
  }
  .story_textbox p{
    width: 480px;
    font-size: 2.0rem;
    text-align: center; line-height: 1.8;
  }

  /* my_story_section end */
  
  /* main end */
  
  /* footer start */
  
  footer{
    margin-top: 250px;
  }
  .footer_inner{
    padding: 50px 0 40px;
  }
  footer h3{
    font-size: 1.8rem; font-weight: 500;
  }
  .icon_copyright{margin-bottom: 60px;}
  .icon_copyright ul{
    width: 490px;
    margin: 50px auto 0;
  }
  .icon_copyright ul li a{
    width: 40px; height: 40px;
  }
  .icon_copyright ul li{
    position: relative;
    width: 70px; height: 70px;
    margin-right: 70px;
  }
  .icon_copyright ul li:nth-of-type(4){margin-bottom: 40px;}
  .footer_inner div:nth-of-type(2){
    margin-right: 7.81%;
    text-align: right;
  }
  .footer_inner div:nth-of-type(2) span{
    width: 480px;
    margin-bottom: 10px;
  }

  /* footer end */
}
/* ============== 768 end ============== */
/* ============== 1024 start ============== */
@media all and (min-width:1024px) {
  body{
    font-size: 1.8rem;
}
/* header nav start*/

header{
  padding: 0 5.86%;
}
.header_inner{
  width: auto;
  float: left;
}
.nav_inner{
  float: right;
}
.gnb li{
  float: left;
  margin-right: 50px;
}
.gnb li:last-child{margin-right: 0;}
.gnb li a{
  font-size: 2.4rem; font-weight: 700;
  line-height: 99px;
  transition: all 0.5s ease 0s;
}
header.top .gnb li a{color: #fff;}
header.top .gnb li a:hover{color: #63d5ff;}
.gnb li a:hover{ color: #63d5ff;}
.m_btn{display: none;}

/* header nav end */

/* visual start*/
.visual{
    height: 1080px;
}
.video_box{
    height: 1080px;
}
.video_bg iframe{
  top: -10%;
}
.typing-demo{ font-size: 11rem;}

/* visual end */

/* main start */

section{margin-top: 300px;}
section h2{margin-bottom: 0; color: #000;}

/* about_me_section start */

.about_inner{
  width: 88.28vw; height: 58.59vw;
  max-width: 1265px; max-height: 700px;
  position: relative;
  margin: 0 auto;
}
.about_inner h2{
  position: absolute;
  z-index: 10;
  top: -130px; left: 50%;
  transform: translateX(-50%);
  color: #fff;
}
.about_pic{
  position: absolute;
  width: 39.06vw; height: 58.59vw;
  max-width: 500px; max-height: 700px;
  bottom: 0; left: 0;
  margin: 0;
  z-index: 10;
}
.about_textbox{
  position: absolute;
  width: 88.28vw; height: 58.59vw;
  max-width: 1265px; max-height: 700px;
  top: 0; left: 0;
  padding: 7.32vw 0;
}
.about_textbox ul{
  width: 44.43vw;
  margin: 0 auto 0 47.35%;
}
.about_textbox ul li{
  padding-left: 80px;
  margin-bottom: 50px;
}
.about_textbox ul li:last-child{margin-bottom: 0px;}


/* about_me_section end */

/* portfolio_section start */

#portfolio_section{
  position: relative;
  padding: 200px 0;
  background: #fff;
}
#portfolio_section h2{
  position: absolute;
  top: 150px; left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.portfolio_inner{
  position: relative;
}
.portfolio_bg_1{
  display: none;
}
.portfolio_bg_2{
  position: absolute;
  top: auto; left: auto;
  bottom: 0; right: 0;
  transform: translateX(0);
  width: 46.88%; height: 430px;
  max-width: 780px;
}
.portfolio_slider .swiper-container-portfolio{
  width: 88.28%; height: 550px;
}
.portfolio_slider .swiper-container-portfolio .swiper-pagination{
  top: auto; left: auto; right: 55.31%; bottom: 35px;
  transform: translateX(0);
  width: 400px; height: 10px;
  max-width: 400px;
}
.swiper-slide > div:nth-of-type(1){
  width: 400px; height: 330px;
  float: right; margin-right: 55.31%; margin-top: 138px;
}
.swiper-container-portfolio .swiper-wrapper .swiper-slide > div:nth-of-type(1) > div:nth-of-type(1){
  position: absolute;
  width: 400px; height: 330px;
  bottom: 0; left: 0;
  transform: translateX(0);
}
.swiper-container-portfolio .swiper-wrapper .swiper-slide div:nth-child(1) div:nth-child(2){
  width: 70px; height: 140px;
  bottom: 0;
}
.swiper-container-portfolio .swiper-wrapper .swiper-slide div:nth-child(1) div:nth-child(3){
  width: 110px; height: 147px;
  bottom: 0;
}
.swiper-slide-textbox{
  position: relative;
  float: right;
  width: 39.82%; height: 430px;
  margin-top: -330px;
  padding: 30px 0 0;
}
.swiper-slide-textbox h3{
  margin-bottom: 50px;
  font-size: 4.0rem; text-align: left;
}
.swiper-slide-textbox p{
  width: 100%; height: 130px;
  max-width: 520px;
  margin: 0;
  text-align: left; line-height: 1.8;
  word-break: keep-all;
}
.swiper-slide-textbox a{
  bottom: 50px; right: auto; left: 0;
}
.swiper_btnbox{
  margin: 0 0 0 auto;
  right: 0; left: 0; bottom: 35px;
  width: 150px; max-width: 150px; height: 40px;
}

/* portfolio_section end */

/* skills_section start */

.skills_inner{
  position: relative;
  width: 1024px; margin: 0 auto;
}
.skills_inner h2{
  position: absolute;
  top: 80px; left: 50%;
  transform: translateX(-50%);
}
.skills_lottie{
  width: 656px; height: 687px;
  float: right;
  margin: 0; padding-top: 0;
}
.skills_anibox{
  position: relative;
  top: 33.54%;
  width: 484px; height: 400px;
  margin: 0 9.15% 0 auto;
  overflow: hidden;
}
.lottie-container{
  position: absolute;
  top: 50%; ;left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
}
.skills_skillbox{
  width: 460px; height: 460px;
  float: right;
  padding: 50px; margin: -460px 56.05% 0 0;
}
.skillbox_inner{
  width: 360px; height: 360px;
  margin: 0 auto;
}
.skill_flip{
  position: relative;
  width: 100px; height: 100px;
  border-radius: 50%;
  transform-style: preserve-3d;
  float: left;
}
.skill_flip:nth-of-type(1){ top: 65px; left: 0;}
.skill_flip:nth-of-type(2){ top: 0; left: 30px;}
.skill_flip:nth-of-type(3){ top: 65px; left: 60px;}
.skill_flip:nth-of-type(4){ top: 95px; left: 0;}
.skill_flip:nth-of-type(5){ top: 30px; left: 30px;}
.skill_flip:nth-of-type(6){ top: 95px; left: 60px;}
.skill_flip:nth-of-type(7){ top: 60px; left: 130px;}

/* skills_section end */

/* my_story_section start */

#my_story_section{
  padding: 150px 0;
  background: #fff;
}
.story_inner{
  position: relative;
}
.story_inner h2{
  margin-bottom: 100px;
  z-index: 10;
}
.story_pic{
  width: 46.88vw; height: 48.83vw;
  max-width: 1000px; max-height: 600px;
  float: right;
  margin: 0;
  left: 0; top: 0;
  z-index: 10;
}
.story_textbox{
  width: 42.97%;
  float: right;
  margin: 0 40px 0 0; padding: 0;
  background: none;
}
.story_textbox p{
  width: 90%;
  margin: 0 0 0 auto;
  text-align: left; line-height: 1.8;
}

/* my_story_section end */

/* main end */

/* footer start */

footer{
  margin-top: 300px;
}
.footer_inner{
  width: 88.28%;
  margin: 0 auto; padding: 50px 0 50px;
}
.icon_copyright{
  float: left;
  margin-bottom: 0;
}
.icon_copyright h3{
  text-align: left;
}
.icon_copyright ul{
  width: 320px;
  margin: 30px auto 0;
}
.icon_copyright ul li a{
  position: absolute;
  width: 30px; height: 30px;
  display: block;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  text-indent: -9999px;
  background: no-repeat center / cover;
}
.icon_copyright ul li{
  position: relative;
  width: 50px; height: 50px;
  border-radius: 50%;
  background: #fff;
  float: left;
  margin-right: 40px;
}
.icon_copyright ul li:nth-of-type(4){margin-bottom: 20px;}
.footer_inner > div:nth-of-type(2){
  display: flex;
  float: right; 
  margin-top: 100px; margin-right: 0;
  text-align: right;
  flex-direction: column;
}
.footer_inner div:nth-of-type(2) span{
  margin-bottom: 20px;
  display: inline-block;
}

/* footer end */
}
/* ============== 1024 end ============== */
/* ============== 1920 start ============== */
@media all and (min-width:1650px) {
  body{
    font-size: 1.8rem;
}
/* header nav start*/

header{
  padding: 0 8.33%;
}
.nav_inner{
  float: none;
}
.gnb{
  width: 605px;
  margin: 0 auto;
}
.gnb li{
  margin-right: 70px;
}

/* header nav end */

/* visual start*/
.visual{
  height: 1080px;
}
.video_box{
  height: 1080px;
}
.video_bg iframe{
top: -10%;
}
.typing-demo{ font-size: 15rem;}

/* visual end */

/* main start */

main > section{
    margin: 400px 0;
}
section h2{
  font-size: 8.0rem;
  color: #000;
}

/* about_me_section start */

.about_inner{
  width: 65.89vw; height: 36.46vw;
  max-width: 1265px; max-height: 700px;
}
.about_inner h2{
  top: -172px;
}
.about_pic{
  width: 26.04vw; height: 36.46vw;
  max-width: 500px; max-height: 700px;
}
.about_textbox{
  width: 65.89vw; height: 36.46vw;
  max-width: 1265px; max-height: 700px;
  left: auto; right: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.about_textbox ul{
  width: 47.43%; max-width: 600px;
  margin: 0 0 0 46.64%;
}
.about_textbox ul li{
  height: 64px;
  padding-left: 94px;
  margin-bottom: 8.33%;
}
.about_textbox ul li::before{
  width: 64px; height: 64px;
}

/* about_me_section end */

/* portfolio_section start */

#portfolio_section{
  position: relative;
  margin-top: 400px;
}
#portfolio_section h2{
  position: absolute;
  top: 200px; left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.portfolio_inner{
  position: relative;
  width: 100%; max-width: 1920px;
  margin: 0 auto;
}
.portfolio_bg_2{
  position: absolute;
  top: auto; left: auto;
  bottom: 0; right: 0;
  width: 40.63vw; height: 32.29vw;
  max-width: 780px; max-height: 620px;
}
.portfolio_slider .swiper-container-portfolio{
  width: 83.33%; height: 52.08vw;
  max-width: 1600px; max-height: 800px;
}
.portfolio_slider .swiper-container-portfolio .swiper-pagination{
  top: auto; left: 0; right: auto; bottom: 0;
  transform: translateX(0);
  width: 44.27vw; height: 10px;
  max-width: 850px;
}
.swiper-slide > div:nth-of-type(1){
  width: 44.27vw; height: 23.44vw;
  max-width: 850px; max-height: 450px;
  float: left; margin-right: 0;
  margin-top: 280px;
}
.swiper-container-portfolio .swiper-wrapper .swiper-slide > div:nth-of-type(1) > div:nth-of-type(1){
  width: 28.65vw; height: 23.44vw;
  max-width: 550px; max-height: 450px;
  margin-left: 13.06%;
}
.swiper-container-portfolio .swiper-wrapper .swiper-slide div:nth-child(1) div:nth-child(2){
  width: 5.78vw; height: 11.41vw;
  max-width: 111px; max-height: 219px;
}
.swiper-container-portfolio .swiper-wrapper .swiper-slide div:nth-child(1) div:nth-child(3){
  width: 9.84vw; height: 13.07vw;
  max-width: 189px; max-height: 251px;
}
.swiper-slide-textbox{
  position: relative;
  float: right;
  width: 27.08vw; height: 22.40vw;
  max-width: 520px; max-height: 430px;
  margin-top: 280px;
  padding: 30px 0 0;
}
.swiper-slide-textbox h3{
  font-size: 6.0rem; font-weight: 700;
  font-family: "Noto Sans KR", Arial, sans-serif;
  text-wrap: nowrap;
}
.swiper-slide-textbox p{
  width: 100%; height: 130px;
  max-width: 520px;
  margin: 0;
  font-size: 2.0rem;
}
.swiper-slide-textbox a{
  position: relative;
  top: 105px;
}
.swiper_btnbox{
  margin: 0 1.25% 0 auto;
  right: 0; left: 0; bottom: 4.69vw;
  width: 150px; max-width: 150px; height: 40px;
}


/* portfolio_section end */

/* skills_section start */

.skills_inner{
  width: 83.33%;
  max-width: 1600px;
  margin: 0 auto;
}
.skills_inner h2{
  top: 10.75%;
}
.skills_lottie{
  width: 55.21vw; height: 48.44vw;
  max-width: 1060px; max-height: 930px;
}
.skills_anibox{
  top: 24.73%;
  width: 39.06vw; height: 31.25vw;
  max-width: 750px; max-height: 600px;
  margin: 0 9.43% 0 auto;
}
.lottie-container{
  width: 48.44vw; max-width: 930px;
}
.skills_skillbox{
  width: auto; height: auto;
  float: left;
  padding: 4.38%; margin: -41.88% 58.13% 0 0;
}
.skillbox_inner{
  width: 27.60vw; height: 27.60vw;
  max-width: 530px; max-height: 530px;
  margin: 0 auto;
}
.skill_flip{
  width: 7.81vw; height: 7.81vw;
  max-width: 150px; max-height: 150px;
}
.flip_front{
  width: 7.81vw; height: 7.81vw;
  max-width: 150px; max-height: 150px;
  padding-top: 13.33%;
}
.flip_front p{
  font-size: 2.0rem;
  margin-bottom: 10.00%;
}
.flip_front span{
  width: 3.13vw; height: 3.13vw;
  max-width: 60px; max-height: 60px;
}
.flip_back{
  width: 7.81vw; height: 7.81vw;
  max-width: 150px; max-height: 150px;
  padding-top: 13.33%;
}
.flip_back p{
  font-size: 2.0rem;
  margin-bottom: 10.00%;
}
.flip_back span{
  width: 3.13vw; height: 3.13vw;
  max-width: 60px; max-height: 60px;
}
.skill_flip:nth-of-type(1){ top: 17.92%; left: 0;}
.skill_flip:nth-of-type(2){ top: 0; left: 7.55%;}
.skill_flip:nth-of-type(3){ top: 17.92; left: 15.09%;}
.skill_flip:nth-of-type(4){ top: 25.47%; left: 0;}
.skill_flip:nth-of-type(5){ top: 7.55%; left: 7.55%;}
.skill_flip:nth-of-type(6){ top: 25.47%; left: 15.09%;}
.skill_flip:nth-of-type(7){ top: 15.09%; left: 35.85%;}

/* skills_section end */

/* my_story_section start */

#my_story_section{
  padding: 200px 0;
}
.story_inner h2{
  margin-bottom: 150px;
}
.story_pic{
  width: 52.08vw; height: 31.25vw;
  max-width: 1000px; max-height: 600px;
  margin: 0;
  left: 0; top: 0;
}
.story_textbox{
  float: left;
  width: 34.11%; 
  height: 31.25vw; max-height: 600px;
  margin: 0 0 0 8.33%;
  display: flex;
  align-items: center;
}
.story_textbox p{
  width: 100%;
  font-size: 2.6rem; font-weight: 700;
  line-height: 2;
}

/* my_story_section end */

/* main end */

/* footer start */

footer{
  margin-top: 0;
}
.footer_inner{
  width: 83.33%;
  max-width: 1600px;
  margin: 0 auto;
}
.icon_copyright ul{
  width: 100%;
  margin: 30px auto 0;
}
.icon_copyright ul li a{
  width: 50px; height: 50px;
}
.icon_copyright ul li:nth-of-type(5) a{
  width: 60px; height: 60px;
}
.icon_copyright ul li:nth-of-type(8) a{
  width: 50px; height: 50px;
}
.icon_copyright ul li{
  width: 80px; height: 80px;
  margin-right: 90px;
}
.icon_copyright ul li:nth-of-type(4){margin-bottom: 40px;}
.footer_inner > div:nth-of-type(2){
  margin-top: 200px;
}

/* footer end */
}
/* ============== 1920 end ============== */
